<a href="https://colab.research.google.com/github/parvgarg9900/python-assignment/blob/main/Python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#insrting a number
L=[11,12,13,14]
print("L---->",L)
L1=list(L)
L1.insert(2,50)
L1.insert(3,60)
print("after inserting --->",L1)

L----> [11, 12, 13, 14]
after inserting ---> [11, 12, 50, 60, 13, 14]

In [ ]:
#deleting a number
l=[11,12,13,14]
print("l--->",l)
del l[0]
del l[1]
print("after deleting:",l)

l---> [11, 12, 13, 14]
after deleting: [12, 14]

In [ ]:
#inveritng the string
l=[11,12,13,14]
print("l--->",l)
print ("l[::-1] --> ", l[::-1])

l---> [11, 12, 13, 14]
l[::-1] -->  [14, 13, 12, 11]

In [ ]:
#sorting in ascending and descending order
l = [11, 12, 13, 14]
print("l--->", l)
l.sort()
print("after sorting in ascending order:", l)
l.sort(reverse=True)
print("after sorting in descending order:", l)

l---> [11, 12, 13, 14]
after sorting in ascending order: [11, 12, 13, 14]
after sorting in descending order: [14, 13, 12, 11]

In [ ]:
#count of the number of elements in l
l=[11,12,13,14]
print("l--->",l)
print ("Length --> : ", len(l))

l---> [11, 12, 13, 14]
Length --> :  4

In [ ]:
#sum of all the numbers in l
l=[11,12,13,14]
print("l--->",l)
print ("Sum     --> ", sum(l))

l---> [11, 12, 13, 14]
Sum     -->  50

In [ ]:
#sum of odd and even numbers in l
l = [11, 12, 13, 14]
print("l--->", l)
s = 0

for number in l:
    if number % 2 == 0:
        s += number

print("sum of even numbers -->", s)

s = 0

for number in l:
    if number % 2 != 0:
        s += number

print("sum of odd numbers -->", s)

l---> [11, 12, 13, 14]
sum of even numbers --> 26
sum of odd numbers --> 24

In [ ]:
#sum of prime numbers
l = [11, 12, 13, 14]
print("l--->", l)
s = 0

for n in l:
    f = 0
    for i in range(2, n//2 + 1):
        if n % i == 0:
            f = 1
            break
    if f == 0:

        print(f"{n} is Prime")
        s += n

    else:
        print(f"{n} is Not Prime")

l---> [11, 12, 13, 14]
11 is Prime
12 is Not Prime
13 is Prime
14 is Not Prime

In [ ]:
 #inserting a new no. in d
#import dictionary as d
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
d[8]=(8.8)
print(d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#deleting an element
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
del d[2]
print(d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
#checking an element
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
if (6 in d)== True:
 print("it is there")
else:
  print("not there")

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
not there

In [ ]:
#find lenght of dictionary
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
print(len(d))

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
5

In [ ]:
#to add all values in d
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
s=0
for i in d:
  s=s+d[i]

print("sum=",s)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
sum= 36.4

In [ ]:
#to update the values
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
d[3]=7.1
print(d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [ ]:
#to clear the dictionary
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
d.clear()
print(d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{}